<% if target.errors.any? %>  
<div id="errorExplanation" class="alert" style='background-color:white'>  
  <h2>Whoops! Who are you?</h2>
  <ul>
  <% target.errors.full_messages.each do |msg| %>  
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
