<div class="row-fluid" id="copyright">
  <div class='span5' style='margin-left:12px;'>
    &copy; <%= Time.now.year %> Adam Wise
  </div>
  <div class='span5' style='float:right; text-align:right'>

    All photos courteys of Aly Martin Photography
  </div>
</div>
