<div id="header-inner">
  <div class="logo"><a href="/" id="logo"><img src="/images/logo.png" width="328" height="82" alt="Hope Christian Fellowship"></a></div>
  <div id="tagline">"Revealing Jesus through building relationships"</div>
  <div id="menu">
    <%= draw_menu('main-menu', {}) %>
  </div>
</div>