<div id="copy">

<%= form_for :contact_us_form, :url => {:action => :contact_us, :method => :post } do |f| %>
	<%= error_messages_for :contact_us_form %>
<table class="contact_us_table">
     <%= render :partial => "common_fields", :locals =>{ :f => f } %>
	<tr>
		<td></td>
		<td><%= submit_tag 'Send' %></td>
	</tr>

</table>
<% end %>
</div>
