body{
  background-color: #67686a;
}
p {
 font-size: 15px;
}
a {
	color:white;
	text-decoration:bold;
}

h3 { color:white;}

a:hover {
	text-decoration:underline;
	color:white;
}
.page-wrap{
  width: 940px;
  margin: 0 auto;
}

.container{
  color: white;
}

#copyright{
  color: #333;
}

#menu {
  display: block;
  background-color: #156395;
  height: 42px;
  top: 163px;
  width: 100%;
  clear:both;
  padding: 0;
  margin: -5px 0 0 0;
}

#menu ul {
  width: 100%;
  margin:0 auto;
  padding:12px 0 0;
}

#menu li {
  display: inline;
  margin-right: -5px;
  padding: 9px 10px 0px 0px;
}

#menu li a:hover {
  background-color:#74194c;
}

#menu li a {
  color:white;
  font-size:16px;
  padding:13px;
  text-decoration:none;
  font-family:"Century Gothic",Arial, Helvetica, sans-serif;
 }

#menu li a:hover {
  color: white;
}

label{
color:white;
}

.control-group.warning > label, .alert, .control-group.warning .help-inline{
  color: #0e4f54;
}
.control-group.warning input{
  color: #000;
  border-color: #156395;
}

.body-content{
  min-height:450px;
  margin: 0 0 10px 0;
  padding: 20px 0 100px 12px;
  border-bottom: 3px solid white;
  background-image:url("/images/bottom_fade.png");
  background-position:bottom;
  background-repeat:repeat-x;
}


