<div class='container'>
  <h1>Login</h1>
  <hr>
  <p><%= link_to "Click here to sign in with Google", 
                 user_omniauth_authorize_path(:google),
                 :class => 'btn btn-success' %></p>
</div>
